flask
flask-cors
google-generativeai
scikit-learn==1.6.1
pandas
numpy
joblib
twilio
requests
langchain
langchain-google-genai
langchain-anthropic
langchain-core
langchain-openai
langchain-cohere
langchain-huggingface
python-dotenv
gunicorn
tensorflow
deepface
opencv-python
tf-keras
